<!DOCTYPE html>
<html>
  <head>
    <title>Mundial 2018</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="user_nav">
        <% if user_signed_in? %>
          Conectado como <i><%= current_user.name %></i> |
					<% if current_user.porras.size>0 %>
          	<%= link_to "Ver mi apuesta", porra_path(current_user.porras.first) %> |
					<% else %>
						<%= link_to "Realizar una porra", new_porra_path %> |
					<% end %>
					<%= link_to "Salir", destroy_user_session_path, method: 'delete' %>
        <% else %>
          <%= link_to "Registrarse", new_user_registration_path %> o <%= link_to "Entrar", new_user_session_path %>
        <% end %>
      </div>

      <%= link_to image_tag("logo-mundial18.jpg", :size=>"120x120"), root_path %>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
