%h1.center Zoconet
- if current_user.porras.size==0
	= link_to "Realizar una porra", new_porra_path
- else
	- for porra in current_user.porras
		%br
		= link_to "Ver porra", porra_path(porra)

%table.grupo
	%tr
		%th
			Partido hoy
	- @matches.each do |match|
		= render partial: 'match', locals: {match: match}

%table.grupo
	%tr
		%th
			Partidos mañana
	- @tomorrow.each do |match|
		= render partial: 'match', locals: {match: match}

%table.grupo
	%tr
		%th
			Clasificación
	- @clasification.each do |porra|
		%tr
			%td
				= link_to porra.user.name, porra_path(porra)
			%td
				= porra.points
